spring:
  application:
    name: user
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: 12345
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: "/h2-console"
  kafka:
    producer:
      bootstrap-servers: ${KAFKA_URI:localhost:9092}

client:
  id: ${CLIENT_ID:default.client-id}
  secret: ${CLIENT_SECRET:default.client-secret}
  name: ${CLIENT_NAME:default.client-name}
  redirect-uri: ${REDIRECT_URI:https://www.google.com.br}
  tokenTTLInSeconds: ${TOKEN_TTL:3600}
logging:
  level:
    org:
      springframework:
        security: DEBUG


